// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .page {
//   margin: 75px 0px 75px 0px;
// }

.banner {
  width: 100%;
  cursor: pointer;

  img {
    width: 100%;
  }
  
}
