

////////////////////////// GLOBAL STYLES //////////////////////////

$primary-font: 'Hind', sans-serif;
$secondary-font: 'Lato', sans-serif;

// $nav-accent: #770055;
// $nav-accent: #EDB431;
$nav-accent: #5048ED;



* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, button  {
  font-family: 'Hind', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

p, button, input {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 300;
}


::-webkit-input-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 300;
}

:-moz-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 300;
}

::-moz-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 300;
}

:-ms-input-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 300;
}

input:focus {outline:none;}


////////////////////////// NAVIGATION BAR //////////////////////////

nav {
  // background-color: #2f3a4a;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  // padding: 5px;
  // padding: 10px;
  border-bottom: 1px solid #bebebe;


  .nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    height: 100%;

    .navigation-left {
      width: 70%;

      .logo-holder {
        height: 100%;
        width: 150px;
        display: inline-block;
        padding: 5px 0px 5px 0px;
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
        cursor: pointer;
      }

      img {
        width: 70%;
        margin-top: 10px;
      }

      .nav-search {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
        width: 400px;
      }

      i {
        display: inline-block;
        color: rgb(175, 175, 175);
        padding: 0px 0px 0px 20px;
      }

      input {
        height: 100%;
        width: 90%;
        border: 0;
        padding-left: 5px;
        display: inline-block;
        font-weight: 500;
        font-size: 0.9em;
      }

    }

    .navigation-right {
      width: 50%;

      .address {
        height: 100%;
        // width: 50%;
        padding: 10px 15px 10px 15px;
        display: inline-block;
        float: right;
        cursor: pointer;
        transition: 0.3s;

        &:hover .address-bottom {
          opacity: 0.7;
        }
      }

      .address-top {
        height: 50%;
        // width: 100%;
        color: rgb(175, 175, 175);
        vertical-align: center;
        padding-top: 5px;
      }

      p {
        margin: 0;
        padding: 0;
        color: $nav-accent;
        font-weight: 500;
      }

      .address-bottom {
        height: 50%;

        * {
          display: inline-block;
        }

        i {
          line-height: 1em;
          vertical-align: top;
          padding-bottom: 3px;
          color: rgb(175, 175, 175);
          padding-left: 3px;
        }
      }

      .account {
        height: 100%;
        // width: 25%;
        padding: 10px 15px 10px 15px;
        display: inline-block;
        float: right;
        transition: 0.3s;
        cursor: pointer;

        &:hover .account-bottom {
          opacity: 0.7;
        }
      }

      .account-top {
        height: 50%;
        color: rgb(175, 175, 175);
        vertical-align: center;
        padding-top: 5px;
      }

      .account-bottom {
        height: 50%;

      }

      .support {
        height: 100%;
        // width: 25%;
        padding: 10px 15px 10px 15px;
        display: inline-block;
        float: right;
      }

      .support-cta {
        height: 85%;
        background-color: $nav-accent;
        color: white;
        border: 0;
        border-radius: 5px;
        padding: 0px 15px 0px 15px;
        font-weight: 500;
        font-size: 0.8em;
        cursor: pointer;
        transition: 0.3s;
        margin: 4px 20px 0px 0px;


        &:hover {
          background-color: rgba($nav-accent, 0.8);

        }
      }

    }

  }

}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCEDC6;

  .hero-content {
    text-align: center;

    h1 {
      color: $nav-accent;
      font-weight: 700;
      font-size: 3.5em;
      display: inline;
    }

    h2 {
      color: #ee9513;
      margin-top: -15px;
    }

  }

  .search-container {
    width: 80%;
    height: 75px;
    margin: 0 auto;
    text-align: left;
    position: relative;

    p {
      font-size: 0.7em;
      color: rgba(#949494, 1);
    }

    .search-input-holder {
      width: 100%;
      border: 1px solid $nav-accent;
      border-radius: 4px;
      background-color: white;
      height: 50px;
    }

    input {
      width: 90%;
      height: 100%;
      border: 0px;
      background-color: transparent;
      padding-left: 10px;
      font-size: 0.9em;
      text-transform: uppercase;
    }

    ::-webkit-input-placeholder {
        text-transform: none;
    }
    :-moz-placeholder {
        text-transform: none;
    }
    ::-moz-placeholder {
        text-transform: none;
    }
    :-ms-input-placeholder {
        text-transform: none;
    }

    #location-input {
      width: 80%;
    }

    i {
      margin-left: 20px;
    }

    #current-location-btn {
      float: right;
      color: rgb(175, 175, 175);
      line-height: 50px;
      margin-right: 20px;
      font-size: 1.1em;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: rgb(97, 97, 97);
      }

    }

    .location-info {
      background-color: black;
      position: absolute;
      top: 0px;
      right: -50px;
      padding: 0px 15px 0px 15px;
      border-radius: 5px;
      opacity: 0;
      transition: 1s;
      cursor: default;


      p {
        color: white !important;
      }

      .triangle {
        width: 100%;
        position: relative;

        img {
          position: absolute;
          height: 20px;
          bottom: -13px;
          left: calc(50% - 10px);
        }
      }

    }


    .address-search {
      // display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      z-index: 1;

    }

    .food-search {
      // display: none;
      position: absolute;
      top: 30px;
      left: 0px;
      width: 100%;
      opacity: 0;
      transform: translateY(30px);
      z-index: -1;

    }

  }

  .button-holder {
    width: 35%;
    margin: 0 auto;
    cursor: pointer;
    z-index: 100;

    button {
      color: white;
      background-color: $nav-accent;
      border: 0px;
      width: 100%;
      border-radius: 4px;
      height: 40px;
      margin-top: 20px;
      font-weight: 400;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: rgba($nav-accent, 0.8);
      }

      &:focus {
        outline: none;
      }
    }

  }

}









































////////////////////////// INDEX PAGE //////////////////////////

.page {
  max-width: 1200px;
  margin: 100px auto 70px auto;
  background-color: white;
  min-height: 100vh;
}

.results {
  display: flex;
  flex-wrap: wrap;

  .food {
    width: 33%;
  }
}



////////////////////////// TYPED CURSOR //////////////////////////


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1.2s infinite;
    -moz-animation: blink 1.2s infinite;
    animation: blink 1.2s infinite;
    color: rgba($nav-accent, 1);
    // color: grey;
    font-weight: 700;
    font-size: 3.5em;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
