

<nav>

  <div class="nav-wrapper">

    <div class="navigation-left">

      <div class="logo-holder">
        <img src="/images/logo/Acme Logos2.png" alt="" />
      </div>

    </div>

    <div class="navigation-right">

      <div class="support">
        <button type="button" name="support-cta" class="support-cta">SHARE FRISK</button>
      </div>

      <div class="account">
        <div class="account-top">
          <h5>ACCOUNT</h5>
        </div>
        <div class="account-bottom">
          <p>Login</p>
        </div>
      </div>

    </div>

  </div>

</nav>
