


<header>
  <div class="logo-nav">

  </div>
  <nav>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
</header>

<div class="results"></div>

<footer>

</footer>



<script>

  ajaxCall('<%= params[:search] %>', '<%= params[:location] %>')

</script>
