

<nav>

  <div class="nav-wrapper">

    <div class="navigation-left">

      <div class="logo-holder">
        <img src="/images/logo/Acme Logos2.png" alt="" />
      </div>

      <div class="nav-search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" name="nav-search" placeholder="e.g. Grill'D, TGI Fridays, Pizza, Thai">
      </div>

    </div>

    <div class="navigation-right">

      <div class="support">
        <button type="button" name="support-cta" class="support-cta">SHARE FRISK</button>
      </div>

      <div class="account">
        <div class="account-top">
          <h5>ACCOUNT</h5>
        </div>
        <div class="account-bottom">
          <p>Login</p>
        </div>
      </div>

      <div class="address">
        <div class="address-top">
          <h5>ADDRESS</h5>
        </div>
        <div class="address-bottom">
          <p>Southbank, Vic</p>
          <i class="fa fa-sort-desc" aria-hidden="true"></i>
        </div>
      </div>

    </div>

  </div>

</nav>

<div class="page">

  <div class="banner">
    <img src="" alt="" />
  </div>

  <div class="tag-filter">

  </div>

  <div class=" results primary-result">

  </div>

  <div class="secondary-results">

  </div>


</div>


<footer>

</footer>



<script>

  ajaxCall('<%= params[:search] %>', '<%= params[:location] %>')

</script>
